{{#partial "content"}}
    <form class="search" action="/search" method="post">
        <input type="text" class="searchTerm" placeholder="" name="query" value={{query}}>
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </form>

    <ul class="course-list">
        {{#each courses}}
            <a class="course-list-item"><a href="/courses/{{offeringName}}"> {{offeringName}} {{title}} </a> </li>
        {{/each}}
    </ul>

{{/partial}}

{{> base.hbs}}